# Dependencies
node_modules/
venv/
__pycache__/

# Build
.next/
out/
build/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Prisma
frontend/prisma/dev.db

# Misc
*.pem
npm-debug.log*
